html, body{
    height: 100vh;
    margin: 0;
    background-color: #dad2c1;
    overflow: hidden;
}
h1, h2, p, a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#topo img{
    margin-left: 20px;
    max-width: 100%;
    border-radius: 30px;
}
#cardapio{
    background-color: black;
    width: 65vw;
    height: 80vh;
    align-items: center;
    margin: auto;
}
#tudo {
    display: flex;
}
#topo{
    height: 50px;
    display: flex;
    background-color: #004f35;
    z-index: 2;
    padding: 5px 15px;
    gap: 10px;
    justify-content: space-between;
}
#usuario{
    margin-right: 20px;
    align-items: center;
    padding: 15px;
    border-radius: 40px;
    display: flex;
    background-color: #011b14;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    white-space:nowrap;
}
.mobile{
    display: none;
}
.pc{
    display: flex;
}

@media (max-width: 600px){
    html, body{
        overflow: scroll;
    }
    .imgLink{
        
        min-width: 60vw;
    }
    #tudo{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #topo img{
        margin-left: 15px;
    }
    .mobile{
        display: flex;
    }
    .pc{
        display: none;
    }
}