<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="/aluno/login" method="get">
        <label for="mal">matricula<input type="text" name="matricula" id="mal" required></label>
        <label for="senha">senha<input type="password" name="senha" id="senha" required></label>
        <button type="submit">Enviar</button>
    </form>
    <a href="register"><p>regitrar aluno</p></a>
</body>
</html>